# C++ Build files
build/
bin/
*.o
*.dylib
edge_vit_inference

# Models (trop lourds pour Git, on garde juste les scripts de génération)
models/*.onnx

# Python
.venv/
__pycache__/
.DS_Storesatellite_test.jpg
